[Desktop Entry]
Name=V-State
GenericName=laptop control cneter
Comment=Proves that we can use Vala and Gtk
Categories=Utility;Education;
Exec=com.github.cam-jm.hello-again
Icon=com.github.cam-jm.hello-again
Terminal=false
Type=Application
Keywords=Hello;World;Example;
