[Desktop Entry]
Name=V-State
GenericName=laptop control cneter
Comment=Basic VAIO laptop control center
Categories=HardwareSettings;System;
Exec=com.github.cam-jm.hello-again
Icon=com.github.cam-jm.hello-again
Terminal=false
Type=Application
Keywords=Hello;World;Example;
